@media screen and (max-width:768px){
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 
    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    
    }
    body{
        background-color: ;
        font-family: "Poppins", sans-serif; 
    }
    .btn{
    height: 45px;
    background: red;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 20px;
    text-decoration: none;
    font-weight: ;
    }
    header{
        display: flex;
        flex-direction: column;
        background-color: ;
        height: 120px;
        position: ;
        margin: auto;
        overflow: hidden;
    }
    header .nav-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
   .logo{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 5px;
       
   }
   header a:hover{
       color:#cccccc;
       font-weight:bold;
   }
   header .nav-link .nav-item{
       margin: 0px 0px 10px 0px;
   }
   header .nav-link .nav-item ul li a{
       font-size: 15px;
       margin: 0px 18px 0px 0px;
       
   }
   
    header .nav-link .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .nav-link .nav-item-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
   .hero{
       display: flex;
       justify-content: center;
       margin: auto;
       width: 100%;
       background: ;
       height: 484px;
   }
   .left{
    position: absolute;
    
    width: 100%;
    top: 200px;
    justify-content: center;
    background-color: ;
    margin: auto;   
   }
  .right{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: auto;
      display: none;
  }
   .hero .left h4{
       font-size: 38px;
       margin: 0px 0px 0px 0px;
       text-align: center;
       
   }
   .hero .left h1{
       font-size: 40px;
       margin: 0px 0px 4px 0px;
       text-align: center;
       display: block;
       
   }
   .hero .left p{
       font-size: 15px;
       margin: 0px 0px 20px 0px;
       text-align: center;
       
   }
   .hero .left a{
       margin: auto;
       font-size: 15px;
       font-weight: bold;
       text-align: center;
       align-items: center;
   }
  .lol{
       display: flex;
       justify-content: center;
       width: 75%;
   }
    .hero .right img{
        width: 100%;
        margin: auto;
        border-radius: 0px;
    }
    .main-right{
        background: green;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        height: auto;
        top: 500px;
    }
   .main-right .main-right-content{
       position: absolute;
       
       align-items: center;
       text-align: center;
   }
    .main-right .main-right-content h1{
      font-size: 20px;
      text-align: center;
      margin:135px 0px 0px 15px;
      
     }
   .main-right .main-right-content h3{
     font-size: 28px;
     text-align: center;
    }
    .main-right .main-right-content p{
        font-size: 17px;
        text-align: center;
    }
   .main{
       display: flex;
       justify-content: center;
       margin: auto;
       background:#35424a; 
       height: 350px;
       width: 100%;
   }
   .main-left{
       width: 100%;
       display: flex;
       justify-content: center;
       background: pink;
       height: 500px;
       margin: auto;
       position: absolute;
       display: none;
   }
   .main .main-left img{
       width: 100%;
       margin: auto;
       display: flex;
       justify-content: center;
       border-radius: 2px;
       position: relative;
       
   }
   .main-right .main-right-content a{
       font-size: 15px;
       font-weight: bold;
       display: flex;
       justify-content: center;
       text-align: center;
       align-items: center;
   }
  .pro{
      font-size: 15px;
  }
  .raw{
      height: 3px;
  }
   .super{
       background: ;
       margin: auto;
   }
   .killer{
      
   }
   .super_left{
      justify-content: center;
      margin: auto;
      background: ;
      width: 100%;
      height: 400px;
      margin-top: 20px;
   }
   .super_center{
      margin-top: 20px;
       justify-content: center;
      margin: auto;
      background: ;
      width: 100%;
      height: 400px;
   }
   .super_right{
       background: ;
       justify-content: center;
      margin: auto;
      background: ;
      width: 100%;
      height: 400px;
      margin-top: 20px;
   }
   .super_all{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin: auto;
   }
   .super_img{
       width: 200px;
       display: flex;
       justify-content: center;
       margin: auto;
       margin-bottom: 15px;
   }
  
   .intro h2{
       font-size: 30px;
   }
   .inti{
       font-size: 14px;
   }
   .info{
       font-size: 20px;
   }
   footer{
       display: flex;
       justify-content: center;
       align-items: center;
       background: ;
       height: 80px;
       
       
   }
   footer p{
       font-size: 15px;
       text-align: center;
       
   }
} 
@media screen and (max-width:320px){
    header .nav-link .nav-item ul li{
        margin: 0px 9px;
    }
    header .nav-link .nav-item ul li a{
        font-size: 10px;
        margin: 0px 10px;
    }
}
media screen and (max-width:480px){
    .hero{
        height: 300px;
    }
    .main{
        height: 90vh;
    }
}
